# -----------------------------
# Python
# -----------------------------
backend/venv/
backend/.env
**/__pycache__/
*.py[cod]

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log